nav
	button.button.hide-for-large(type='button', data-toggle='offCanvas', data-open='offCanvasRight')
	#desktop-nav.show-for-large
		ul
			li
				a(href='/') HOME
			li
				a(href='/analytics') ANALYTICS
