.off-canvas-wrapper
			.off-canvas-wrapper-inner(data-off-canvas-wrapper='')
				#offCanvas.off-canvas.position-right(data-off-canvas='', data-position="right")
					// Close button
					button.close-button(aria-label='Close menu', type='button', data-close='')
						span(aria-hidden='true') ×
					// Menu
					ul.vertical.menu
						li
							a(href='#') Home
						li
							a(href='#') ANALYTICS
				.off-canvas-content(data-off-canvas-content='')
