extends ../partials/layout

block content
	section#content
		.row
			.small-12.colums
				center
					h2 Bonzini Players by State/Country
		.row
			.small-12.medium-3.columns
				p State : Number of Players
				#legend
			.small-12.medium-9.columns
				#analytics

