extends ../partials/layout

block content
	section#content
		.row
			.small-12.colums
				form#fileUpload(method="post" action="/upload" enctype="multipart/form-data")
					label(for="payload") Select a file to upload:
					input#payload(type="file" name="myFile" accept="csv/*")
					br
					button#upload Upload
